{% extends 'base.html'%}
<!--Start of block title -->
{% block 'title'%}
Logar

{% endblock%}
<!--End of block body -->
<!--Start of block body -->
{% block 'body' %}
<div class="container">
    {%if status == '1'%}
        <div class="alert alert-danger" role="alert">
            E-mail ou senha inválido!
        </div>
    {%endif%}
    {%if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Por favor efetuar o login.
        </div>
    {%endif%}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md">
            <br>
            <h1>Login</h1>
            <hr>
            <form method="POST" action="{% url 'valid_login'%}"><!--Start form -->
                {% csrf_token %}
                <label>Digite seu Email:</label>
                <input class="form-control" type="email" placeholder="E-mail" name="email">
                <br>
                <label>Digite seu senha:</label>
                <input class="form-control" type="password" placeholder="Senha" name="password">
                <br>
                <input class="btn btn-success btn-lg" type="submit" value="Entrar" name="login">
                <a href="{% url 'registration'%}" class="btn btn-info btn-lg">Cadastre-se</a>
            </form><!--End form -->
        </div>
        <div class="col-md-3">

        </div>
    </div>

</div>
<!--End of block body -->
{% endblock %}